.DS_Store
coupled_experiment/build/*
coupled_experiment/Models/*
coupled_experiment/run/*
coupled_experiment/run.old/*
coupled_experiment/input/BATHY60.box
coupled_experiment/input/H_new.box
coupled_experiment/input/etainit.round.bin
coupled_experiment/input/latlon.mat
coupled_experiment/input/runoff_flux.bin
coupled_experiment/input/salt.init
coupled_experiment/input/shelficemassinit.bin
coupled_experiment/input/shelftopo.round.bin
coupled_experiment/input/theta.init

bgetraer_coupled/build/*
bgetraer_coupled/Models/*
bgetraer_coupled/run/*
bgetraer_coupled/run.old/*
bgetraer_coupled/input/BATHY60.box
bgetraer_coupled/input/H_new.box
bgetraer_coupled/input/etainit.round.bin
bgetraer_coupled/input/latlon.mat
bgetraer_coupled/input/runoff_flux.bin
bgetraer_coupled/input/salt.init
bgetraer_coupled/input/shelficemassinit.bin
bgetraer_coupled/input/shelftopo.round.bin
bgetraer_coupled/input/theta.init
bgetraer_coupled/Results/*
bgetraer_coupled/domain.exp

past_edits/*
